body{
    /* Background pattern from Subtle Patterns */
    background-image: url("../img/dark_mosaic.png");
    font-size: 20px;
    color: #FFFFFF;
    margin: 0 !
}
.wrapper{
    width: 100%;
}


.header
{
    width: 100%;
    padding: 40px 0;
}

.logo
{
    width: 450px;
    font-size: 48px;
    border: 1px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    width: 100%;
	padding: 10px 0;
	background-color: #339933;
	text-align: center;
	border-top: 1px solid #116611;
	border-bottom: 1px solid #116611;
    
}

.sticky{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

ol
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;   
    display: inline-block;
}

ol a
{
    color: #ffffff;
    text-decoration: none;
    display: block;
}

ol > li
{
    float: left;
    width: 150px;
    height: 40px;
    border-right:  1px dashed #005500; 
}

ol > li:first-child
{
     border-left: 1px dashed #005500; 
}

ol > li:hover{
    background-color: #55BB55;
}

ol > li:hover > a{
    color: #005500;
    
}

ol > li:hover > ul
{
    display: block;
} 

ol >li > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}

ol > li > ul > li
{
    background-color: #55BB55;
    position: relative;
    z-index: 100;
    border-top: 1px dashed #005500;
}

ol > li > ul > li:hover
{
    background-color: #339933;
}

ol > li > ul > li:hover > a
{
    color: #005500;
}


.content
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}

.pole{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background: #DDDDDD;
    width: 400px;
    -webkit-box-shadow: 6px 6px 20px 2px rgba(156,150,156,1);
    -moz-box-shadow: 6px 6px 20px 2px rgba(156,150,156,1);
    box-shadow: 6px 6px 20px 2px rgba(156,150,156,1);
    text-align: left;
    padding: 40px;
    float: left;
    color: #222222;
}


#logowanie
{
    margin-left: 10px;
    margin-top: 20px;
    background: #DDDDDD;
    width: 30%;
    -webkit-box-shadow: 6px 6px 20px 2px rgba(156,150,156,1);
    -moz-box-shadow: 6px 6px 20px 2px rgba(156,150,156,1);
    box-shadow: 6px 6px 20px 2px rgba(156,150,156,1);
    text-align: center;
    padding: 15px;
    float: right;
}

#rejestracja
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background: #DDDDDD;
    width: 400px;
    -webkit-box-shadow: 6px 6px 20px 2px rgba(156,150,156,1);
    -moz-box-shadow: 6px 6px 20px 2px rgba(156,150,156,1);
    box-shadow: 6px 6px 20px 2px rgba(156,150,156,1);
    text-align: left;
    padding: 40px;
    float: left;
    color: #222222;
}

#logowanie button{
    background-color: #2222AA;
    width: 300px;
    color:  white;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 20px;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.4s ese-in-out;
}

.btn-prim{
    background-color: #2222AA;
    width: 300px;
    color:  white;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 20px;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.4s ese-in-out;
}

.btn-prim:hover{
    background-color: #4444CC;
    transform: scale(0.9);
        
}

.btn-dgr{
    background-color: #AA2222;
    width: 300px;
    color:  white;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 20px;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.4s ese-in-out;
}

.btn-dgr{
    background-color: #CC4444;
    transform: scale(0.9);
}

#logowanie button:hover{
    background-color: #3333BB;
    transform: scale(0.9);
}

input[type=text],
input[type=password]{
    width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}
input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}

input[type=submit]
{
	width: 300px;
	background-color: #36b03c;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: #37b93d;
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}

.error
{
    color: red;
    font-weight: bold;
}


a{
    color:  #000000;
    text-decoration: none;
}

