### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule draft index.php
RewriteRule index index.php
RewriteRule zaloguj index.php
RewriteRule zaloguj-sie index.php
RewriteRule Rejestracja/index index.php
RewriteRule rejestracja Rejestracja/rejestracja.php
RewriteRule aktywacja Rejestracja/aktywacja.php
RewriteRule przypomnij-haslo Rejestracja/przypomnij_haslo.php
RewriteRule zmien-haslo Rejestracja/zmien_haslo.php
RewriteRule witamy Rejestracja/witamy.php
RewriteRule haslo-zmieniono Rejestracja/zmiana.php
RewriteRule profil Profil/profil.php
RewriteRule wyloguj-sie Rejestracja/logout.php
RewriteRule aktualnosci Profil/aktualnosci.php
RewriteRule stworz-projekt Projekt/stworz_projekt.php
RewriteRule twoje-projekty Projekt/twoje_projekty.php
RewriteRule wszystkie-projekty Projekt/wszystkie_projekty.php
RewriteRule projekt Projekt/projekt.php
RewriteRule zakoncz-projekt Projekt/zakoncz_projekt.php
RewriteRule edytuj-projekt Projekt/edytuj_projekt.php
RewriteRule zawies-projekt Projekt/zawies_projekt.php
RewriteRule stworz-spotkanie Projekt/stworz_spotkanie.php
RewriteRule edytuj-spotkanie Projekt/edytuj_spotkanie.php
RewriteRule dolacz-do-projektu Projekt/dolacz_do_projektu.php
RewriteRule dodaj-lidera-projektu Projekt/dodaj_lidera_projektu.php
RewriteRule zadania Zadania/twoje_zadania.php
RewriteRule twoje-zadania Zadania/twoje_zadania.php
RewriteRule dodaj-zadanie Zadania/dodaj_zadanie.php
RewriteRule edytuj-zadanie Zadania/edytuj_zadanie.php
RewriteRule przyjmij-zadanie Zadania/przyjmij_zadanie.php
RewriteRule zwroc-zadanie Zadania/zwroc_zadanie.php
RewriteRule wykonaj-zadanie Zadania/wykonaj_zadanie.php
RewriteRule odbierz-zadanie Zadania/odbierz_zadanie.php
RewriteRule transakcje Transakcje/twoje_transakcje.php
RewriteRule dotuj-projekt Transakcje/dotuj_projekt.php
RewriteRule uwaga-do-projektu Uwagi/uwaga_do_projektu.php
RewriteRule uwaga-do-zadania Uwagi/uwaga_do_zadania.php
RewriteRule uwaga-przeanalizowana Uwagi/uwaga_przeanalizowana.php
RewriteRule kontakt Info/kontakt.php
RewriteRule baza-wiedzy Info/baza_wiedzy.php